* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 40px auto;
  padding: 0 15px;
  color: #fef2bf;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 555px;
  margin-inline: auto;
}

.btn {
  height: 150px;
  width: 150px;
  margin: 15px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width: 369px) {
  #level-title {
    font-size: 1rem;
    margin: 20px auto;
  }

  .container {
    flex-direction: column;
    gap: 5px;
  }

  .btn {
    margin: 10px;
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 515px) {
  #level-title {
    font-size: 2rem;
    margin: 50px auto;
  }

  .container {
    gap: 15px;
  }

  .btn {
    height: 180px;
    width: 180px;
    margin: 15px;
  }
}

@media (min-width: 1024px) {
  #level-title {
    font-size: 2.5rem;
  }

  .btn {
    height: 200px;
    width: 200px;
  }
}
